section{
    header{
        margin:10px; 
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        nav{
            ul{
                list-style: none;
                margin-left: 10px;
                li{
                    display: inline-block;
                    margin-right: 20px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 25px;
                        font-weight: bold;
                    }
                    margin-right: 40px;
                }
                li:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }
        .login{
            width: 130px;
            margin-top: -5px;
        }
    }   
}
hr{
    
    color: black;
    height: 1px;
}

.centerContent{
    background-image: url("../images/ecommerce-background-image.jpg");
    background-size: cover;
    background-position: center;
    padding: 24%;
    margin-top: 5px;
}
.info{
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
    padding: 17%;
    .card{
        background-color: black;
        align-items: center;
        height: 400px;
        width: 400px;
        box-shadow: 0px 0px 0px 5px gray;
        .card-body{
            align-items: center;
            text-align: center;
            h1{
                font-size: 30px;
                font-weight: bold;
                color: #e9ecef;
                margin-top: 50px;
            }
        }
        img{
            width: 100px;
            height: 100px;
        }
    }
    .card:hover{
        transform:scale(1.1);
        transition: 0.5s;
    }
    .card1{
        right: 100px;
    }
    .card3{
        left: 100px;
    }
}
.ubicacion{
    text-align: center;
    padding: 80px;
    background-color: #212529;
    .contenedor {
        margin: auto;
        display: table;
        h1 { 
            position: relative; 
            float: left;
            color: #e9ecef;
            font-size: 2.5em;
            font-family: "Courier New";
            span {
                position:absolute;
                right:0;
                width:0;
                background: #212529;
                border-left: 1px solid #000;
                animation: escribir 5s steps(30) infinite 
            }
        }
    }
    @keyframes escribir {
        from { width: 100% }
        to { width:0 }
    }
    .card{
        align-items: center;
        .card-body{
            iframe{
                width: 72.8vw;
                height: 70vh;
                border-radius: 10px; 
            }
        }
    }
}
footer{
    .container{
        hr{
            margin-left: 35%;
            width: 30%;
            height: 1px;
            color: aliceblue;
        }
        text-align: center;
        h1{
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        img{
            width: 35px;
            height: 35px;
        }
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px;
            }
        }
    }
}