<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.19.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/views/login/login.css">
    <title>Document</title>
</head>
<body>
    
    <section>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Log In</h2>
                <form action="" method="">
                    <input type="text" class="input" name="nombre" placeholder="nombre...">
                    <input type="email" class="input" name="email" placeholder="email...">
                    <input type="password" class="input" name="password" placeholder="pasword...">
                    <button class="btn btn-primary">Log In</button>
                </form>
                <div class="separador">
                    <span>Or</span>
                </div>
                <div class="logos">
                    <ul>
                        <li>
                            <a href="">
                                <button class="btn-logos facebook">
                                    <img src="../../images/facebookBlanco.png" alt="">
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <button class="btn-logos github">
                                    <img src="../../images/GitHub.png" alt="">
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>
                    Todavia no tenes cuenta? <a href="">click aqui</a> para crear una 
                </p>
            </div>
        </div>
    </section>


    <script src="/views/login/login.js"></script>
</body>
</html>