<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.19.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/views/login/login.css">
    <title>Document</title>
</head>
<body>
    
    <section>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">hola</h2>
                <form action="" method="">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </form>
            </div>
        </div>
    </section>


    <script src="/views/login/saludo.js"></script>
</body>
</html>