body{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 8%;
}

.card{
    width: 700px;
    height: 600px;
    background-color:#f4a261;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 3px #000;
    text-align: center;
}
.card-body{
    align-items: center;
}
.card-title{
    margin-bottom: 3%;
    color: #fff;
}
.input{
    width: 400px;
    background-color: white !important;
    align-self: center;
    margin-bottom: 3%;
}
.btn{
    width: 400px;
    background-color: #f4a261;
    color: white;
    border-radius: 15px;
    margin-bottom: 3%;
}
.separador{
    color:black; 
    display: inline-block; 
    position: relative;
    margin: top 10px;
    text-align: center; 
}
.separador::before,.separador::after{
    content: "";
    position: absolute; 
    width: 120px;
    height: 1px;
    background-color: black;
    margin-top: 0.7em;
}
.separador::before{
    left:-130px
}
.separador::after{
    right:-130px
}
.facebook{
    border-radius: 15px;
    margin-bottom: 3%;
    padding: 9px;
}
.gitHub{
    margin-top: -12px;
}
.twitter{
    margin-top: -13px;
    width: 200px;
}
img{
    width: 150px;
    padding: 10px;
}
p{
    margin-top:-5px; 
    color:black; 
}
a{
    color:blue !important;; 
}